*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.body{
    height: auto;
    width: 400px;
    margin: auto;
    box-shadow: 5px 5px 5px black;
    padding: 10px;
    display: flex;
    margin-top: 5%;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
}

.body input[type=text] {
    width: 300px;
    height: 30px;
    padding-left: 5px;
    border: 1px solid #000000;
}

.body input[type=text]:hover{
    border: 1px solid #000000;
    outline: none;
}

.body input[type=text]:focus{
    border: 1px solid #000000;
    outline: none;
}

.body button{
    width: 50px;
    height: 30px;
    background-color: #000000;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
}